@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Ohjelmoinnin-jatko</h1>
	<p class="lead">Mika Kilpiän tekemä ohjelmoinnin jatkokurssin palautettava tehtävä.</p>
	<p>
		<a href="/Taulukko/Henkilöt" class="btn btn-primary btn-lg">Henkilöt sivu</a>
		<a href="/Taulukko2/Projektit" class="btn btn-primary btn-lg">Projektit sivu</a>
		<a href="/Taulukko3/Tunnit" class="btn btn-primary btn-lg">Tunnit</a>
	</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tätä sovellusta tehdessä</h2>
		<p>Opin todella paljon uutta ja sain kertausta SQL, HTML ja C# ohjelmointikielistä. Jouduin tekemään tietokannan uudelleen useaan otteeseen. Kaikki osoitteet ja postinumero ovat oikeita ja ne ovat haettu Google Mapsista. Projektien nimet ovat osittain oikeista bisneksistä.</p>
        <p><a class="btn btn-default" href="https://haveibeenpwned.com/">Napsauta tätä &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visual Studiolla</h2>
		<p>Seurasin perässä videoilta kertaukseksi kaikki neljännen ja viidennen kurssipäivän videot ennen kuin pääsin vauhtiin. Ongelma toisensa jälkeen löysin ratkaisut googlen ja järkevän ajattelun avulla.</p>
        <p><a class="btn btn-default" href="http://kuvaton.com/">Painaisin mieluummin tästä &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Uusi koulu</h2>
		<p>On onneksi suurimmaksi osaksi hiljainen ja saan keskittyä kunnolla etsimään tuntikaupalla puuttuvaa #:stiä cshtml-yhdistelmäkoodin keskeltä. Uudessa koulussa on edelleen todella hyvät ruuat ja niitä kannattaa aina odottaa työskennellessä.</p>
        <p><a class="btn btn-default" href="https://knowyourmeme.com/memes/trollface">Uskallatko clickata tätä? &raquo;</a></p>
    </div>
</div>