@{
	ViewBag.Title = "Projektit";
}
@section scripts {

	<script type="text/javascript">

		function päivitäProjektilistaus() {
			$.getJSON("/taulukko2/getlist", null, function (json) {
				var projekti = JSON.parse(json);
				//alert("Projektejen lkm: " + projekti.lenght);

				var html = "";
				for (var Projektit = 0; Projektit < projekti.length; Projektit++) {
					html += "<tr>" +
						"<td><a href='#'><span class='glyphicon glyphicon-pencil'></span></a></td>" +
						"<td>" + projekti[Projektit].ProjektiID + "</td>" +
						"<td>" + projekti[Projektit].ProjektiNimi + "</td>" +
						"<td>" + projekti[Projektit].Esimies + "</td>" +
						"<td>" + projekti[Projektit].Avattu + "</td>" +
						"<td>" + projekti[Projektit].Suljettu + "</td>" +
						"<td>" + projekti[Projektit].Status + "</td>" +
						"<td><a href='#'><span class='glyphicon glyphicon-trash'></span></a></td>" +
						"</tr>\r\n";
				}

				$("#projektiList tbody").html(html);

				//tietojen muokkaus
				$(".glyphicon-pencil").click(function () {
					// etsitään projektin tiedot klikatulta riviltä
					var ProjektiID = $(this).parent().parent().next().text();
					//alert(ProjektiID);

					//haetaan projektin tiedot id:n perusteella
					$.getJSON("/taulukko2/getsingleprojekti/" + ProjektiID, null, function (json2) {
						var projekti = JSON.parse(json2);

						// kopiodaan tiedot ikkunaan
						$("#projektiModal_ProjektiID").val(projekti.ProjektiID);
						$("#projektiModal_ProjektiNimi").val(projekti.ProjektiNimi);
						$("#projektiModal_Esimies").val(projekti.Esimies);
						$("#projektiModal_Avattu").val(projekti.Avattu);
						$("#projektiModal_Suljettu").val(projekti.Suljettu);
						$("#projektiModal_Status").val(projekti.Status);

						// näytetään ikkuna
						$("#projektiModalTitle").text("Muokkaa projektia");
						$("#projektiModalDialog").modal("show");
					});
				});

				// tietojen poisto
				$(".glyphicon-trash").click(function () {
					// etsitään projektin tiedot klikatulta riviltä
					var ProjektiID = $(this).parent().parent().prev().prev().prev().prev().prev().prev().text();
					var ok = confirm("Haluatko varmasti poistaa projektin " + ProjektiID + " tiedot?");

					if (ok == true) {
						$.getJSON("/taulukko2/delete/" + ProjektiID, null, function (status) {
							if (status == true) {
								alert("Projektin tiedot on nyt poistettu!");
								päivitäProjektilistaus();
							}
							else {
								alert("Projektin poistaminen ei onnistunut, yritä uudelleen!");
							}
						});
					}
				});
			});
		}

		// sivun alustaminen
		$(function () {
			päivitäProjektilistaus();

			$("#addNewProjektiButton").click(function () {

				// tyhjennetään ikkunan tiedot
				$("#projektiModal_ProjektiID").val(0);
				$("#projektiModal_ProjektiNimi").val("");
				$("#projektiModal_Esimies").val("");
				$("#projektiModal_Avattu").val("");
				$("#projektiModal_Suljettu").val("");
				$("#projektiModal_Status").val("");

				$("#projektiModalTitle").text("Lisää uusi projekti");
				$("#projektiModalDialog").modal("show");
			});

			$("#projektiModalSaveButton").click(function () {
				// luetaan käyttäjän syöttämät kentät
				var details = {
					ProjektiID: $("#projektiModal_ProjektiID").val(),
					ProjektiNimi: $("#projektiModal_ProjektiNimi").val(),
					Esimies: $("#projektiModal_Esimies").val(),
					Avattu: $("#projektiModal_Avattu").val(),
					Suljettu: $("#projektiModal_Suljettu").val(),
					Status: $("#projektiModal_Status").val()
				};

				$.post("/taulukko2/update/", details, function (status) {
					if (status == true) {
						alert("Projektin tiedot tallennettu!");
						$("#projektiModalDialog").modal("hide");
						päivitäProjektilistaus();
					}
					else {
						alert("Projektin tallennus ei onnistunut, yritä uudelleen!");
					}
				});
			});
		});
	</script>

}
<h1>Projektit sivu</h1>
<button class="btn btn-primary" id="addNewProjektiButton">Lisää uusi projekti</button>

<table class="table table-striped" id="projektiList">
	<thead>
		<tr>
			<th></th>
			<th>Projekti-id</th>
			<th>Projektin nimi</th>
			<th>Esimies</th>
			<th>Avattu</th>
			<th>Suljettu</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="projektiModalDialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title"><span id="projektiModalTitle">Muokkaa projektia</span></h2>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3">Projekti-id</div>
					<div class="col-md-6"><input class="form-control" id="projektiModal_ProjektiID" type="text" readonly></div>
				</div>
				<div class="row">
					<div class="col-md-3">Projektin nimi</div>
					<div class="col-md-6"><input class="form-control" id="projektiModal_ProjektiNimi" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">Esimies</div>
					<div class="col-md-6"><input class="form-control" id="projektiModal_Esimies" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">Avattu</div>
					<div class="col-md-6"><input class="form-control" id="projektiModal_Avattu" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">Suljettu</div>
					<div class="col-md-6"><input class="form-control" id="projektiModal_Suljettu" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">Status</div>
					<div class="col-md-6"><input class="form-control" id="projektiModal_Status" type="text"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
				<button type="button" class="btn btn-primary" id="projektiModalSaveButton">Tallenna</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->