@{
	ViewBag.Title = "Henkilöt";
}
@section scripts {

	<script type="text/javascript">

		function päivitäHenkilölistaus() {
			$.getJSON("/taulukko/getlist", null, function (json) {
				var henkilot = JSON.parse(json);
				//alert("Henkilöiden lkm: " + henkilot.lenght);

				var html = "";
				for (var Henkilöt = 0; Henkilöt < henkilot.length; Henkilöt++) {
					html += "<tr>" +
						"<td><a href='#'><span class='glyphicon glyphicon-pencil'></span></a></td>" +
						"<td>" + henkilot[Henkilöt].HenkiloID + "</td>" +
						"<td>" + henkilot[Henkilöt].Etunimi + "</td>" +
						"<td>" + henkilot[Henkilöt].Sukunimi + "</td>" +
						"<td>" + henkilot[Henkilöt].Esimies + "</td>" +
						"<td>" + henkilot[Henkilöt].Osoite + "</td>" +
						"<td>" + henkilot[Henkilöt].Postinumero + "</td>" +
						"<td><a href='#'><span class='glyphicon glyphicon-trash'></span></a></td>" +
						"</tr>\r\n";
				}

				$("#henkiloList tbody").html(html);

				//tietojen muokkaus
				$(".glyphicon-pencil").click(function () {
					// etsitään henkilön tiedot klikatulta riviltä
					var HenkiloID = $(this).parent().parent().next().text();
					//alert(HenkiloID);

					//haetaan henkilön tiedot id:n perusteella
					$.getJSON("/taulukko/getsinglehenkilo/" + HenkiloID, null, function (json2) {
						var henkilo = JSON.parse(json2);

						// kopiodaan tiedot ikkunaan
						$("#henkiloModal_HenkiloID").val(henkilo.HenkiloID);
						$("#henkiloModal_Etunimi").val(henkilo.Etunimi);
						$("#henkiloModal_Sukunimi").val(henkilo.Sukunimi);
						$("#henkiloModal_Esimies").val(henkilo.Esimies);
						$("#henkiloModal_Osoite").val(henkilo.Osoite);
						$("#henkiloModal_Postinumero").val(henkilo.Postinumero);

						// näytetään ikkuna
						$("#henkiloModalTitle").text("Muokkaa henkilöä");
						$("#henkiloModalDialog").modal("show");
					});
				});

				// tietojen poisto
				$(".glyphicon-trash").click(function () {
					// etsitään henkilön tiedot klikatulta riviltä
					var HenkiloID = $(this).parent().parent().prev().prev().prev().prev().prev().prev().text();
					var ok = confirm("Haluatko varmasti poistaa henkilön " + HenkiloID + " tiedot?");

					if (ok == true) {
						$.getJSON("/taulukko/delete/" + HenkiloID, null, function (status) {
							if (status == true) {
								alert("Henkilön tiedot on nyt poistettu!");
								päivitäHenkilölistaus();
							}
							else {
								alert("Henkilön poistaminen ei onnistunut, yritä uudelleen!");
							}
						});
					}
				});
			});
		}

		// sivun alustaminen
		$(function () {
			päivitäHenkilölistaus();

			$("#addNewHenkiloButton").click(function () {

				// tyhjennetään ikkunan tiedot
				$("#henkiloModal_HenkiloID").val(0);
				$("#henkiloModal_Etunimi").val("");
				$("#henkiloModal_Sukunimi").val("");
				$("#henkiloModal_Esimies").val("");
				$("#henkiloModal_Osoite").val("");
				$("#henkiloModal_Postinumero").val("");

				$("#henkiloModalTitle").text("Lisää uusi henkilö");
				$("#henkiloModalDialog").modal("show");
			});

			$("#henkiloModalSaveButton").click(function () {
				// luetaan käyttäjän syöttämät kentät
				var details = {
					HenkiloID: $("#henkiloModal_HenkiloID").val(),
					Etunimi: $("#henkiloModal_Etunimi").val(),
					Sukunimi: $("#henkiloModal_Sukunimi").val(),
					Esimies: $("#henkiloModal_Esimies").val(),
					Osoite: $("#henkiloModal_Osoite").val(),
					Postinumero: $("#henkiloModal_Postinumero").val()
				};

				$.post("/taulukko/update/", details, function (status) {
					if (status == true) {
						alert("Henkilön tiedot tallennettu!");
						$("#henkiloModalDialog").modal("hide");
						päivitäHenkilölistaus();
					}
					else {
						alert("Henkilön tallennus ei onnistunut, yritä uudelleen!");
					}
				});
			});
		});
	</script>

}

<h1>Henkilöt sivu</h1>
<button class="btn btn-primary" id="addNewHenkiloButton">Lisää uusi henkilö</button>

<table class="table table-striped" id="henkiloList">
	<thead>
		<tr>
			<th></th>
			<th>Henkilö-id</th>
			<th>Etunimi</th>
			<th>Sukunimi</th>
			<th>Esimies</th>
			<th>Osoite</th>
			<th>Postinumero</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="henkiloModalDialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title"><span id="henkiloModalTitle">Muokkaa henkilöä</span></h2>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3">Henkilö-id</div>
					<div class="col-md-6"><input class="form-control" id="henkiloModal_HenkiloID" type="text" readonly></div>
				</div>
				<div class="row">
					<div class="col-md-3">Etunimi</div>
					<div class="col-md-6"><input class="form-control" id="henkiloModal_Etunimi" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">Sukunimi</div>
					<div class="col-md-6"><input class="form-control" id="henkiloModal_Sukunimi" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">Esimies</div>
					<div class="col-md-6"><input class="form-control" id="henkiloModal_Esimies" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">Osoite</div>
					<div class="col-md-6"><input class="form-control" id="henkiloModal_Osoite" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">Postinumero</div>
					<div class="col-md-6"><input class="form-control" id="henkiloModal_Postinumero" type="text"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
				<button type="button" class="btn btn-primary" id="henkiloModalSaveButton">Tallenna</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->