@{
	ViewBag.Title = "Tunnit";
}
@section scripts {

	<script type="text/javascript">

		function päivitäAsiakaslistaus() {
			$.getJSON("/taulukko3/getlist", null, function (json) {
				var tunti = JSON.parse(json);
				//alert("Asiakkaiden lkm: " + tunti.lenght);

				var html = "";
				for (var index = 0; index < tunti.length; index++) {
					html += "<tr>" +
						"<td><a href='#'><span class='glyphicon glyphicon-pencil'></span></a></td>" +
						"<td>" + tunti[index].TuntiID + "</td>" +
						"<td>" + tunti[index].ProjektiID + "</td>" +
						"<td>" + tunti[index].HenkiloID + "</td>" +
						"<td>" + tunti[index].Pvm + "</td>" +
						"<td>" + tunti[index].ProjektiTunti + "</td>" +
						"<td>" + tunti[index].ProjektiTunnit + "</td>" +
						"<td>" + tunti[index].SuunnitellutTunnit + "</td>" +
						"<td>" + tunti[index].ToteutuneetTunnit + "</td>" +
						"<td><a href='#'><span class='glyphicon glyphicon-trash'></span></a></td>" +
						"</tr>\r\n";
				}

				$("#customerList tbody").html(html);

				//tietojen muokkaus
				$(".glyphicon-pencil").click(function () {
					// etsitään asiakkaan tiedot klikatulta riviltä
					var TuntiID = $(this).parent().parent().next().text();
					//alert(TuntiID);

					//haetaan asiakkaan tiedot id:n perusteella
					$.getJSON("/taulukko3/getsingletunti/" + TuntiID, null, function (json2) {
						var tunti = JSON.parse(json2);

						// kopiodaan tiedot ikkunaan
						$("#customerModal_TuntiID").val(tunti.TuntiID);
						$("#customerModal_ProjektiID").val(tunti.ProjektiID);
						$("#customerModal_HenkiloID").val(tunti.HenkiloID);
						$("#customerModal_Pvm").val(tunti.Pvm);
						$("#customerModal_ProjektiTunti").val(tunti.ProjektiTunti);
						$("#customerModal_ProjektiTunnit").val(tunti.ProjektiTunnit);
						$("#customerModal_SuunnitellutTunnit").val(tunti.SuunnitellutTunnit);
						$("#customerModal_ToteutuneetTunnit").val(tunti.ToteutuneetTunnit);

						// näytetään ikkuna
						$("#customerModalTitle").text("Muokkaa tunteja");
						$("#customerModalDialog").modal("show");
					});
				});

				// tietojen poisto
				$(".glyphicon-trash").click(function () {
					// etsitään asiakkaan tiedot klikatulta riviltä
					var TuntiID = $(this).parent().parent().prev().prev().prev().prev().prev().prev().prev().prev().text();
					var ok = confirm("Haluatko varmasti poistaa tunnit " + TuntiID + "?");

					if (ok == true) {
						$.getJSON("/taulukko3/delete/" + TuntiID, null, function (status) {
							if (status == true) {
								alert("Tunnit on nyt poistettu!");
								päivitäAsiakaslistaus();
							}
							else {
								alert("Poistaminen ei onnistunut, yritä uudelleen!");
							}
						});
					}
				});
			});
		}

		// sivun alustaminen
		$(function () {
			päivitäAsiakaslistaus();

			$("#addNewCustomerButton").click(function () {

				// tyhjennetään ikkunan tiedot
				$("#customerModal_TuntiID").val(0);
				$("#customerModal_ProjektiID").val("");
				$("#customerModal_HenkiloID").val("");
				$("#customerModal_Pvm").val("");
				$("#customerModal_ProjektiTunti").val("");
				$("#customerModal_ProjektiTunnit").val("");
				$("#customerModal_SuunnitellutTunnit").val("");
				$("#customerModal_ToteutuneetTunnit").val("");

				$("#customerModalTitle").text("Lisää uusia tunteja");
				$("#customerModalDialog").modal("show");
			});

			$("#customerModalSaveButton").click(function () {
				// luetaan käyttäjän syöttämät kentät
				var details = {
					TuntiID: $("#customerModal_TuntiID").val(),
					ProjektiID: $("#customerModal_ProjektiID").val(),
					HenkiloID: $("#customerModal_HenkiloID").val(),
					Pvm: $("#customerModal_Pvm").val(),
					ProjektiTunti: $("#customerModal_ProjektiTunti").val(),
					ProjektiTunnit: $("#customerModal_ProjektiTunnit").val(),
					SuunnitellutTunnit: $("#customerModal_SuunnitellutTunnit").val(),
					ToteutuneetTunnit: $("#customerModal_ToteutuneetTunnit").val()
				};

				$.post("/taulukko3/update/", details, function (status) {
					if (status == true) {
						alert("Tuntien tiedot tallennettu!");
						$("#customerModalDialog").modal("hide");
						päivitäAsiakaslistaus();
					}
					else {
						alert("Tallennus ei onnistunut, yritä uudelleen!");
					}
				});
			});
		});
	</script>

}
<h1>Tunnit sivu</h1>
<button class="btn btn-primary" id="addNewCustomerButton">Lisää uusia tunteja</button>

<table class="table table-striped" id="customerList">
	<thead>
		<tr>
			<th></th>
			<th>Tunti-id</th>
			<th>Projekti-id</th>
			<th>Henkilö-id</th>
			<th>Pvm</th>
			<th>ProjektiTunti</th>
			<th>ProjektiTunnit</th>
			<th>SuunnitellutTunnit</th>
			<th>ToteutuneetTunnit</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="customerModalDialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title"><span id="customerModalTitle">Muokkaa tunteja</span></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3">Tunti-id</div>
					<div class="col-md-6"><input class="form-control" id="customerModal_TuntiID" type="text" readonly></div>
				</div>
				<div class="row">
					<div class="col-md-3">Projekti-id</div>
					<div class="col-md-6"><input class="form-control" id="customerModal_ProjektiID" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">Henkilö-id</div>
					<div class="col-md-6"><input class="form-control" id="customerModal_HenkiloID" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">Pvm</div>
					<div class="col-md-6"><input class="form-control" id="customerModal_Pvm" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">ProjektiTunti</div>
					<div class="col-md-6"><input class="form-control" id="customerModal_ProjektiTunti" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">ProjektiTunnit</div>
					<div class="col-md-6"><input class="form-control" id="customerModal_ProjektiTunnit" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">SuunnitellutTunnit</div>
					<div class="col-md-6"><input class="form-control" id="customerModal_SuunnitellutTunnit" type="text"></div>
				</div>
				<div class="row">
					<div class="col-md-3">ToteutuneedTunnit</div>
					<div class="col-md-6"><input class="form-control" id="customerModal_ToteutuneetTunnit" type="text"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
				<button type="button" class="btn btn-primary" id="customerModalSaveButton">Tallenna</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->